{% extends 'base.html' %}





{% block content %}
    {% for post in object_list %}
    <div class="post-entry">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{post.body}}</p>

    </div>
<h2>Comments.....</h2>

{% if not post.comments.all %}
    No comments yet...<a href="#">
        Add One
    </a>

    {% else %}
        {% for comment in post.comments.all %}
        <strong>
            {{ comment.name}}
            {{ comment.date_added }}

        </strong>
        </br>

        {{ comment.body }}
        <br/><br/>
        <hr>
        {% endfor %}
{% endif %}







    {% endfor %}

{% endblock %}